body
{
    margin: 0px;
    font-family: "Poppins";
}
/* section-1 */
.ACS-header-section-1
{
    background-image: url("Mask group.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height:max-content;
    background-position: center;
}
.ACS-header-section-1 .header-section-inner-logo
{
    display: flex;
}
.ACS-header-section-1 .header-section-inner-logo img
{
    margin: 2em;
}
.header-section-content-center
{
    text-align: center;
}
.header-section-innercontent-first h2
{
    font-size: 35px;
    font-weight: 500;
    margin: 0px;
    color:#ffff;
}
.header-section-innercontent-second h2
{
    margin: 0px;
    margin-top: -0.2em;
    font-size: 65px;
    font-weight: 700;
    color:#ffff;
}
.header-section-innerimg 
{
    margin-top:2em;
}
@media screen and (min-width:767px) and (max-width:1024px) {
    .header-section-innercontent-first h2
    {
        font-size: 28px;
    }
    .header-section-innercontent-second h2
    {
        font-size: 45px;
    }
}
@media screen and (max-width:767px) {
    /* .header-section-innerimg  img
    {
        width:35%;
    } */
    .header-section-innercontent-first h2
    {
        font-size: 13px;
    }
    .ACS-header-section-1 .header-section-inner-logo img
    {
        margin: 1em;
        width: 30%;
    }
    .header-section-innerimg 
    {
        margin-top: 1em;
    }
    .header-section-innercontent-second h2
    {
        font-size: 21px;
    }
}
/* section-2 */
.ACS-section-2
{
    margin-top:3em !important;
    width: 80%;
    margin:auto;
}
.ACS-section-2 P
{
    font-size: 22px;
    color: #818181;
    line-height: 35px;
    text-align: start;
}
@media screen and (max-width:1024px) {
    .ACS-section-2
    {
        width:93%;
    }
    .ACS-section-2 p
    {
        text-align: justify;
    }
    .ACS-section-3
    {
        width: 95% !important;
        margin:1em !important ;
    }
}
@media screen and (max-width:767px) {
    .ACS-section-3
    {
        width: 98% !important;
        margin: 0px !important;
    }
    .ACS-section-2-image-section .ACS-section-2-image-section-innerpart-1, .ACS-section-3-image-section .ACS-section-3-image-section-innerpart-1
    {
        padding: 0em 1em !important;
    }
    .ACS-section-3-image-section
    {
        margin-top: -0.5em !important;
    }
    .ACS-section-2 p
    {
        font-size: 14px;
        line-height: 22px;
    }
    .ACS-section-2
    {
        margin-top: 1em !important;
    }
    .ACS-section-2 .ACS-section-heading h2
    {
        font-size: 15px;
        border-radius: 10px;
    }
    .ACS-section-2 .ACS-section-2-bold-heading p
    {
        font-size: 16px;
        margin: 0px;
        margin-bottom:1em;
    }
    .ACS-section-3 .ACS-section-2-image-section .ACS-section-2-image-section-innerpart-1 h1,.ACS-section-3 .ACS-section-3-image-section .ACS-section-3-image-section-innerpart-1 h1
    {
        font-size: 38px;
    }
    .ACS-section-2-image-section .ACS-section-2-image-section-innerpart-2 h2,.ACS-section-3-image-section .ACS-section-3-image-section-innerpart-2 h2
    {
        font-size: 14px !important;
        margin-bottom: 3px !important;
    }
    .ACS-section-2-image-section .ACS-section-2-image-section-innerpart-2 p,.ACS-section-3-image-section .ACS-section-3-image-section-innerpart-2 p
    {
        line-height: 12px !important;
        font-size: 10px !important;
    }
    .ACS-section-2-image-section
    {
        padding: 12px 5px 12px 12px !important;
        margin-top: -0.5em !important;
    }
    .ACS-section-3-image-section
    {
        padding: 12px 12px 12px 25px !important;
    }
}
@media screen and  (min-width:768px) and (max-width:1024px){
    .ACS-section-2-image-section .ACS-section-2-image-section-innerpart-1, .ACS-section-3-image-section .ACS-section-3-image-section-innerpart-1
    {
        padding: 0em 2em !important;
    }
    .ACS-section-2-image-section .ACS-section-2-image-section-innerpart-1 h1, .ACS-section-3-image-section .ACS-section-3-image-section-innerpart-1 h1
    {
        font-size: 70px;
    }
    .ACS-section-2-image-section .ACS-section-2-image-section-innerpart-2 h2, .ACS-section-3-image-section .ACS-section-3-image-section-innerpart-2 h2
    {
        margin: 0px !important;
        font-size: 25px !important;
    }
    .ACS-section-2-image-section, .ACS-section-3-image-section {
    margin-top: -1em;
    }
    .ACS-section-2 .ACS-section-heading h2
    {
        font-size: 35px;
    }
    .ACS-section-2-image-section-innerpart-2 p,.ACS-section-3-image-section-innerpart-2 p
    {
        line-height: 25px !important;
    }
    .ACS-section-3 .ACS-section-3-image-section-innerpart-1
    {
        padding: 0px 3em !important;
    }
    .ACS-section-2-bold-heading p {
    margin: 0px 0px 1.5em 0px !important;
    }
    .ACS-section-2-image-section
{
    padding: 1.4em 0em 1.4em 2em !important;
}
.ACS-section-3-image-section
{
    padding: 1.4em 2em 1.4em 2em !important;
}
}
.ACS-section-heading
{
    background-color: #855EFF;
    width: max-content;
    border: 1px solid #855EFF;
box-shadow: 4px 4px 2px rgba(133, 94, 255, 0.2);
}
.ACS-section-heading h2
{
    color: #7A57E9;
    font-size: 40px;
    background-color: #ffff;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 0px;
}
.ACS-section-2-bold-heading p{
    color: #818181;
    font-weight: 600;
    font-size: 25px;
    margin: 10px 0px 1.4em;
}
.ACS-section-2-image-section
{
    background-image: url("Vector (4).png");
    background-repeat: no-repeat;
    padding: 5px;
    background-size: contain;
    padding: 1.5em 0em 1.5em 2em;
}
.ACS-section-3-image-section
{
    background-image: url("Vector (5).png");
    background-repeat: no-repeat;
    padding: 5px;
    background-size: contain;
    background-position: right;
    padding: 1.5em 2em 1.5em 2em;
    margin-top: -1.15em;
}
.ACS-section-2-image-section,.ACS-section-3-image-section
{
    display: flex;
    justify-self: center;
    align-items: center;
}
.ACS-section-2-image-section .ACS-section-2-image-section-innerpart-1,.ACS-section-3-image-section .ACS-section-3-image-section-innerpart-1
{
    padding: 0em 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ACS-section-2-image-section .ACS-section-2-image-section-innerpart-1 h1,.ACS-section-3-image-section .ACS-section-3-image-section-innerpart-1 h1
{
    font-size: 100px;
    color: #A4A0FF;
    margin: 0px;
}
.ACS-section-2-image-section .ACS-section-2-image-section-innerpart-2 h2,.ACS-section-3-image-section .ACS-section-3-image-section-innerpart-2 h2{
    color: #855EFF;
    font-size: 30px;
    margin:0px 0px 10px 0px;
}
.ACS-section-2-image-section-innerpart-2 p,.ACS-section-3-image-section-innerpart-2 p
{
    margin: 0px;
    font-size: 20px;
    color: #818181;
    line-height: 28px;
    font-style: italic;
}
.ACS-section-3
{
    width: 87%;
    margin: auto;
}
/* section-4 */
.ACS-section-4
{
    margin: auto;
    margin-top: 4em;
    width: 87%;
}
.ACS-all-section-heading-bold
{
    background-color: #855EFF;
    width: max-content;
    margin: auto;
    margin-bottom: 2em;
    border: 1px solid #855EFF;
    box-shadow: 4px 4px 2px rgb(133 94 255 / 20%);
}
.ACS-all-section-heading-bold h2
{
    color: #7A57E9;
    font-size: 40px;
    background-color: #ffff;
    border-radius: 15px;
    padding: 5px 0.7em;
    margin: 0px;
}
.ACS-section-4-inner-part
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ACS-section-4-content p{
    font-size: 20px;
    color: #818181;
    line-height: 32px;
    margin-left: 1.5em;
}
.ACS-section-4 .ACS-section-4-inner-part img
{
    width: 450px;
}
@media screen and (max-width: 767px){
    .ACS-all-section-heading-bold h2
    {
        font-size:15px;
        border-radius: 10px;
        padding: 5px;
    }
    .ACS-section-4-content p{
        font-size: 14px;
        line-height: 22px;
        text-align: justify;
        margin-top: 0.5em !important;
    }
    .ACS-section-4
    {
        margin-top: 2em !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .ACS-all-section-heading-bold h2
    {
        font-size: 29px;
    }   
}
@media screen and (max-width: 1024px) {
    .ACS-section-4
    {
        width: 93%;
        margin-top: 3em;
    }
    .ACS-section-4-content p{
        margin: 0px;
    }
    .ACS-section-4-inner-part
    {
        flex-direction: column;
    }
    .ACS-section-4 .ACS-section-4-inner-part img
    {
        width: 100%;
        height: 100%;
    }
 }
 /* Section -5  */
.ACS-section-5
{
    width: 87%;
    margin: auto;
    margin-top: 3em;
}
.ACS-section-5-part1 p
{
    font-size: 20px;
    color: #8A8A8A;
    line-height: 32px;
    padding-right: 2em;
}
.ACS-section-5-part1-heading p{
    color: #8A8A8A;
    font-weight: 600;
    font-size: 21px;
    margin-top: -0.5em;
}
.ACS-section-5-divided-part
{
    display: flex;
}
.ACS-section-5-part2
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ACS-section-5-part2 img
{
    width: 500px;
}
.ACS-section-5-part1-orderlist ol
{
    padding-left: 20px;
}
.ACS-section-5-part1-orderlist li
{
    font-size: 19px;
    line-height: 30px;
    color: #8A8A8A;
}
@media screen and (max-width:767px){
    .ACS-section-5
    {
        margin-top: 1.5em !important;
        width: 87%;
    }
    .ACS-section-5-part1 p
    {
        font-size: 14px;
        line-height: 22px;
    }
    .ACS-section-5-part2 img
    {
        width: 100%;
    }
    .ACS-section-5-part1-heading p
    {
        font-size: 16px;
    }
    .ACS-section-5-divided-part .ACS-section-5-part1-orderlist li
    {
        font-size: 14px;
        line-height: 22px;
    }
}
@media screen and (min-width:768px) and (max-width: 1024px) {
    .ACS-section-5{
        width: 90%;
    }
}
@media screen and (max-width:1024px){
    .ACS-section-5-divided
    {
        order: 2;
    }
    .ACS-section-5-divided .ACS-section-5-part1-orderlist
    {
        margin-top: -10px;
    }
    .ACS-section-5-divided .ACS-section-5-part1-orderlist ol
    {
        padding-left: 50px;
    }
    .ACS-section-5-divided-part
    {
        flex-direction: column;
    }
    .ACS-section-5-part1 p
    {
        padding: 0px;
    }
}
/* section -6 */
.ACS-section-6
{
    width: 80%;
    margin: auto;
}
.ACS-section-6-heading
{
    color:#855EFF;
    font-size: 20px;
}
.ACS-section-6 p
{
    margin-top: -1em;
    font-size: 20px;
    color: #8A8A8A;
}
.ACS-section-6-divided-part
{
    display: flex;
    align-items: center;
}
.ACS-section-6-divided-img
{
    margin-right: 4em;
}
.ACS-section-6 .ACS-section-6-divided-part p {
margin-top: 1em;
line-height: 32px;
margin-right: 2em;
}
@media screen and (max-width:767px) {
    .ACS-section-6 p
    {
        font-size: 14px;
        line-height: 22px;
        margin-top: -0.7em;
    }
    .ACS-section-6 .ACS-section-6-heading h2
    {
        font-size: 15px;
    }
    .ACS-section-6 .ACS-section-6-divided-part p
    {
        line-height: 22px !important;
        margin-top: -0.5em !important;
    }
    .ACS-section-7
    {
        width: 93%;
        margin: auto;
    }
    .ACS-section-7-img1
    {
        display:none;
    }
    .ACS-section-7-img2
    {
        display: block !important;
    }
}
@media screen and (max-width:1024px) {
    .ACS-section-6
    {
        width: 93%;
    }
    .ACS-section-6-divided-part
    {
        flex-direction: column;
        order: 1;
    }
    .ACS-section-6-divided-part .ACS-section-6-divided-img
    {
        margin: 0px;
    }
    .ACS-section-6-divided-div
    {
        order: 2;
    }
    .ACS-section-6-divided-part p {
        margin: 0px !important;
        margin-top: -1em !important;
    }
    .ACS-section-7
    {
        width: 95%;
        margin: auto;
    }
    .ACS-section-7 img
    {
        width: 100%;
    }
}
.ACS-section-6 h2,.ACS-section-6 p
{
    text-align: start;
}
/* section -7 */
.ACS-section-7
{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* section - 8 */
.ACS-section-8
{
    width: 80%;
    margin: auto;
    margin-top: 4em;
}
.ACS-section-8-heading
{
    font-size: 20px;
    color: #855EFF;
}
.ACS-section-8 p
{
    margin-top: -1em;
    font-size: 20px;
    color: #8A8A8A;
}
.ACS-section-8 .ACS-all-section-heading-bold
{
    margin-top: 2em;
}
.ACS-section-8-img-fullwidth 
{
    width: 100%;
}
@media screen and (min-width:767px) and (max-width:1024px) {
    .ACS-section-8
    {
        margin-top:3em;
    }
}
@media screen and (max-width:1024px) {
    .ACS-section-8
    {
        width: 90%;
    }   
}
@media screen and (max-width:767px) {
    .ACS-section-8 .ACS-section-8-heading h2
    {
        font-size: 15px;
    }
    .ACS-section-8 p
    {
        font-size: 14px;
        /* line-height: 22px; */
        margin-top:-0.7em
    }
    .ACS-section-8
    {
        margin-top: 2em;
    }
    .ACS-section-8 .ACS-all-section-heading-bold
    {
        margin-top: 1em;
    }
}